:root {
  --primary-color: #060a11;
  --secondary-color: #171925;
  --accent-color: #78efb6;
  --white-color: #fbfcfe;
  --grey-light-color: #f0f4f7;
  --grey-color: #757a88;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: var(--primary-color);
  color: var(--grey-color);
}

h1 {
  color: var(--white-color);
  font-weight: 700;
}

i.fas,
i.far,
i.fab {
  color: var(--accent-color);
  /* font-size: 2.3rem; */
}
